:root {
    --base-light: #BFB48F;
    --base-dark: #393E41;

    --secondary-one: #a52a2a;
    --secondary-two: #1a8ed6;
}

* {
    font-family: 'Trebuchet MS';
}

body {
    margin: 0;
    padding: 0;

    background-color:var(--base-light);
}

header {
    display: flex;
    flex-direction: row;
    position: relative;
    
    height: 15vh;
    width: 100%;
    
    margin-bottom: 5vh;

    background-color: #dad0b5;

    border-bottom: var(--base-dark) 1px solid;
}

#logo {
    flex: 0;
    margin-inline: 1%;
}

h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);

    text-align: center;
    font-size: 3rem;
}

nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    
    margin-inline: auto;

    width: 70%;

    user-select: none;
}

nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    
    color: var(--base-dark);

    min-height: 60px;

    transition: 200ms;
}

nav > a:hover {
    background-color: #9c9376;
    color: #ffffff;
    font-size: 2rem;

    transition: 200ms;
}

form {
    display: flex;
    flex-direction: column;

    margin-inline: auto;

    width: 70%;
    height: 60%;
}

form > .form-label, .form-input, .form-button {
    box-sizing: border-box;

    margin-inline: auto;
}

.form-label {
    display: block;

    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.form-input {
    display: block;

    width: 30rem;
    height: 4rem;

    margin-bottom: 5vh;

    font-size: 1.5rem;

    padding-inline: 1rem;

    border: none;
    border-radius: 10px;

    outline: none;
}

.form-button {
    display: block;

    width: 25rem;
    height: 4rem;

    font-size: 2rem;
    font-weight: bold;

    color: whitesmoke;
    background-color: var(--secondary-two);

    border: none;
    border-radius: 10px;

    box-shadow: 0 5px black;

    cursor: pointer;

}

.form-button:hover {
    background-color: #1671aa;
}

.form-button:active {
    transform: translateY(5px);
    
    box-shadow: none;
}

.message {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 25px;
    width: 70%;
    margin-inline: auto;
}

.success {
    background-color: #16aa4f;
    color: white;
}

.error {
    background-color: #fae8b1;
    color: var(--base-dark);
}

.message > input[type=button] {
    position: absolute;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}