:root {
    --base-light: rgb(233, 233, 233);
    --second-light: whitesmoke;

    --base-dark: #1F2122;
    --second-dark: #27292A;

    --secondary: #FF5555;
    --secondary-hover: #CC4444;
}

* {
    font-family: 'Trebuchet MS';
}

body {
    margin: 0;
    padding: 0;

    height: 100vh;

    background-color:var(--base-light);
}

header {
    display: flex;
    flex-direction: row;
    position: relative;
    
    height: 10vh;
    width: 100%;
    
    margin-bottom: 5vh;

    background-color: var(--second-light);

    border-bottom: var(--base-dark) 1px solid;
}

#logo {
    flex: 0;

    padding-top: 10px;
    padding-bottom: 10px;

    margin-inline: 1%;
}

h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);

    text-align: center;
    font-size: 3rem;
}

nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    
    background-color: var(--second-light);
    
    margin-inline: auto;

    width: 70%;

    user-select: none;
}

nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    
    color: var(--second-light);

    min-height: 60px;

    transition: 200ms;
}

nav > a:hover {
    background-color: #9c9376;
    color: #ffffff;
    font-size: 2rem;

    transition: 200ms;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

form {
    display: flex;
    flex-direction: column;

    margin-inline: auto;

    padding: 20px;

    width: 50%;
    height: 60%;

    background-color: whitesmoke;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
    -10px -10px 10px white;
}

form > .form-label, .form-input, .form-button {
    box-sizing: border-box;

    margin-inline: auto;
}

.form-label {
    display: block;

    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.form-input {
    display: block;

    width: 70%;
    height: 50%;

    margin-bottom: 5vh;

    font-size: 1.5rem;

    padding-inline: 1rem;

    border: none;
    border-radius: 10px;

    outline: none;
}

.form-button {
    display: block;

    width: 40%;
    height: 4rem;

    font-size: 2rem;
    font-weight: bold;

    color: whitesmoke;
    background-color: var(--secondary);

    border: none;
    border-radius: 10px;

    box-shadow: 0 5px black;

    cursor: pointer;

}

.form-button:hover {
    background-color: var(--secondary-hover);
}

.form-button:active {
    transform: translateY(5px);
    
    box-shadow: none;
}

.message {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 70%;

    padding: 25px;

    border-radius: 5px;

    margin-bottom: 10px;
    margin-inline: auto;
}

.success {
    background-color: #16aa4f;
    color: white;
}

.error {
    background-color: #fae8b1;
    color: var(--base-dark);
}

.message > input[type=button] {
    position: absolute;
    right: 10px;

    background-color: rgba(0, 0, 0, 0.3);

    border: none;
    border-radius: 5px;

    width: 2rem;
    height: 2rem;

    cursor: pointer;
}

@media screen and (orientation: portrait) { /* NAV BAR RESIZE */
    header {
        flex-direction: column;
        height: max-content;
        width: 20vw;
        border-bottom: none;
        margin-bottom: 0;
    }

    #logo {
        margin-inline: 0;
    }

    nav {
        flex-direction: column;
        width: 100%;
    }

    nav > a {
        font-size: 1rem;
    }
    
    nav > a:hover {
        font-size: 1.25rem;
    }
}