@import 'form.css';

:root {
    --base-light: rgb(233, 233, 233);
    --second-light: whitesmoke;

    --base-dark: #1F2122;
    --second-dark: #27292A;

    --secondary: #FF5555;
    --secondary-hover: #CC4444;
}

::selection {
    background-color: var(--secondary);
    color: var(--second-light);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--second-light);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-hover);
}

* {
    font-family: 'Trebuchet MS';
}

body {
    margin: 0;
    padding: 0;

    height: 100vh;

    background-color:var(--base-dark);

    caret-color: var(--secondary);
}

header {
    display: flex;
    flex-direction: row;
    position: relative;
    
    height: 15vh;
    width: 100%;
    
    margin-bottom: 3vh;

    background-color: var(--second-dark);
}

#logo {
    flex: 0;

    height: 80%;

    padding-top: 10px;
    padding-bottom: 10px;

    margin: auto 5%;
}

nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    
    margin-inline: auto;

    width: 70%;

    user-select: none;
}

nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    
    color: var(--second-light);

    min-height: 60px;

    transition: 200ms;
}

nav > a:hover {
    background-color: var(--base-dark);
    color: var(--base-light);
    font-size: 2rem;

    transition: 200ms;
}

nav > a:hover::after {
    position: absolute;
    transform: translateY(120%);

    content: attr(content);
}

nav > a > img {
    height: 40%;

    filter: sepia(10);

    transition: 200ms;
}

nav > a:hover > img {
    scale: 80%;

    transform: translateY(-30%);

    transition: 200ms;
}

#gamesIcon {
    color: #FF5722;
}
#gamesIcon > img {
    filter: invert(46%) sepia(77%) saturate(3815%) hue-rotate(347deg) brightness(104%) contrast(101%);
}

#profileIcon > img {
    filter: invert(49%) sepia(14%) saturate(4606%) hue-rotate(178deg) brightness(98%) contrast(94%);
}
#profileIcon {
    color: #2196F3;
}

#settingsIcon > img {
    filter: invert(53%) sepia(18%) saturate(592%) hue-rotate(155deg) brightness(84%) contrast(82%);
}
#settingsIcon {
    color: #607D8B;
}

#logoutIcon > img {
    filter: invert(25%) sepia(44%) saturate(4116%) hue-rotate(344deg) brightness(90%) contrast(89%);
}
#logoutIcon {
    color: #D32F2F;
}


main {
    position: relative;

    display: flex;
    justify-content: center;

    color: white;
    
    padding-top: 5em; /* MIEJSCE DLA MESSAGE */

    height: 100%;
}

.message {
    position: absolute;
    top: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 10px;

    width: 70%;
    height: 4em;

    padding-inline: 20px;

    z-index: 1;
}

.message > span {
    flex: 1;
}

.message > input[type=button] {
    flex-grow: 0;

    background-color: rgba(0, 0, 0, 0.3);

    border: none;
    border-radius: 5px;

    width: 3em;
    height: 3em;

    cursor: pointer;
}

.success {
    background-color: #16aa4f;
    color: #00591f;
}

.error {
    background-color: #fae8b1;
    color: #866310;
}

.info {
    background-color: #cdecf0;
    color: #00565f;
}

@media screen and (orientation: portrait) { /* NAV BAR RESIZE */
    header {
        flex-direction: column;
        height: max-content;
        width: 20vw;
        border-bottom: none;
        margin-bottom: 0;
    }

    #logo {
        margin-inline: 0;
    }

    nav {
        flex-direction: column;
        width: 100%;
    }

    nav > a {
        font-size: 1rem;
    }
    
    nav > a:hover {
        font-size: 1.25rem;
    }
}