{% extends 'games/base.html' %}
{% load static %}

{% block content %}
<header>
    <img src="{% static 'games/logo.svg' %}" alt="Some Games Logo" id="logo">
    <nav>
        <a href="#">Home</a>
        <a href="#">Gry</a>
        <a href="#">Mój Profil</a>
        <a href="#">Ustawienia</a>
    </nav>
</header>
<main>
    {% for message in messages %}
    <div class="{% if message.tags %}{{ message.tags }}{% endif %} message">
        {{ message }}
        <input type="button" value="&#10006" id="messageButton">
    </div>
    {% endfor %}
</main>
{% endblock %}