{% extends 'games/base.html' %}
{% load static %}

{% block content %}
<main>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h2>Login</h2>
        <div>
            <label for="usernameInput" class="form-label">Nazwa</label>
            <input type="text" class="form-input" id="usernameInput" name="username" placeholder="Nazwa tutaj....">
        </div>
        <div>
            <label for="passwordInput" class="form-label">Hasło</label>
            <input type="password" class="form-input" id="passwordInput" name="password" placeholder="Hasło tutaj....">
        </div>
        <input type="submit" value="Zaloguj" class="form-button">
    </form>
</main>
{% endblock %}